/* BODY */

.body{
  background: #e8e8e8;
}
time{
  color: white;
  display: inline-block;
  flex:1;
  text-align: left;
  align-self: flex-end;
  padding: 15px 0;
  margin-left: 10px;
}
img{
  width: 100%;
}
/* NAVBAR */
.top-footer-a-container{
  display:inline-block;
  flex:1;
  text-align: right;
  align-self: flex-end;
  padding: 15px 0;
  margin-right: 20px;
}
.change-padding{
  padding: 10px 0;
}
.my-flex-cont{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.cont-fix{
  position: fixed;
  top: 0;
  z-index: 100;
  background: red;
  border-radius: 0;
}
.my-nav-style{
  max-width: 1300px;
  margin: 0 auto;
  border-bottom: 2px #f0f0f0 solid;
  background: red;
  padding: 0;
  display: block;
}
.icon-collapse{
  color: #dedede;
  font-size: 30px;
  opacity: 0.8;
  margin-top: 6px;
}
.top-footer{
  display: inline-block;
  font-size: 65px;
  font-weight: 900;
  flex:1;
  text-align: center;
}
.a-signin {
  font-weight: bold;
  color: white;
  margin-right: 5px;
}

.a-signin:hover{
  text-decoration: none;
  color: white;
}
.a-singup{
  background: white;
  padding: 2px 8px;
  font-weight: bold;
  color: red;
}
.a-singup:hover{
  text-decoration: none;
  color: red;
}
.top-footer-a-container{
  display:inline-block;
  flex:1;
  text-align: right;
  align-self: flex-end;
  padding: 15px 0;
  margin-right: 20px;
}
.my-nav-collapse{
  background-color: red;
}
.title-collapse{
  display: inline-block;
  color: white;
  font-weight: 900;
  font-size: 24px;
  align-self: flex-end;
  padding: 0;
  margin: 0;
  flex: 1;
}
.title-collapse a{
  color: white;
}
.title-collapse a:hover{
  text-decoration: none;
  color: red;
}
.top-footer-a{
  color: white;
}
.top-footer-a:hover{  
  color: white;
  text-decoration: none;
}
.my-ul{
  background: white;
  clip-path: polygon(0 0, 91% 0, 93% 40%, 101% 40%, 100% 100%, 100% 100%, 0 100%);
  margin-top: -2px;
}
.nav-link{
  color: black;
  font-size: 18px;
  font-weight: bold;
}
.nav-link:hover{
  color: red;
  text-decoration: none;
}
.nav-item span{
  display: inline-block;
  background: #e0e0e0;
  height: 30px;
  width: 1px;
  margin-top: 10px;
}
.input-nav{
  border: none;
  outline: none;
  font-size: 20px;
  width: 80px;
}
.margin-left{
  margin-right: 100px;
}
.first-padding{
  padding-left: 20px;
}
.second-padding{
  padding-right: 20px;
}
.container{
  background: #fcfcfc;
  max-width: 1300px;
  padding: 15px;
}
.row-margin{
  margin-top: 35px;
}
.normal-a{
  color: black;
}
.normal-a:hover{
  color: black;
  text-decoration: none;
}
 /* STYLES FOR THE ROWS 1 COL 1 */
 .h2-f-title{
  color: grey;
  font-size: 17px;
  margin-top: 15px;
}
.img-row-1{
  width: 100%;
}
.a-row-1{
  color: black;
  font-size: 22px;
  font-weight: bold;
  display: block;
  line-height: 1em;
}
.a-row-1:hover{
  color: black;
  text-decoration: underline;
  text-decoration-color: #e32600;
}
.p-row-1{
  font-size: 16px;
  color: #2e2e2e;
}
.relative-container{
  position: relative;
}
.a-abs-row-1{
  position: absolute;
  padding: 8px 15px;
  font-weight: bold;
  bottom: 0;
  left: 0;
  color: red;
  font-size: 15px;
  background: #fcfcfc;
}
.a-abs-row-1:hover{
  color: red;
  text-decoration: none;
}
.all-target-a{
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  z-index: 2;
}
/* STYLES FOR ROW 1 COL2 */

.h2-row-1-col-2{
  font-size: 15px;
  color: grey;
  background: #f5f5f5;
  padding: 5px;
}
.back-grey{
  background: #f5f5f5;
}
.h3-row1-col-2{
  font-size: 18px;
  padding: 20px 0px 0px 10px;
}
.p-row-1-col-2{
  font-size: 16px;
  color: grey;
  padding: 0px 20px 0px 10px;
}
.a-row-1-col-2{
  background: #ced6ce;
  font-size: 12px;
  margin: 0px 20px 20px 10px;
  padding: 5px;
  color: #242424;
  display: inline-block;
}
.a-row-1-col-2:hover{
  background: #242424;
  color: #ced6ce;
  text-decoration: none;
}
.small-p{
  font-size: 15px;
  font-weight: 400;
}